html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }

header {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url('img/spaceBackground2.png');
    text-align: center;
    width: 100%; 
    height: 100%;
}

.welcome{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;

    margin: 0;
    color: #fff; 
    font-size: 80px;
    text-shadow: 10px 10px 20px hsl(0deg 0% 0% / 0.43);
    text-align: center;

}

body {
    background-color: #ffffff;
    margin: 0; 
    padding: 0; 
}


footer{
    position: static; 
    bottom: 20px; 
    left: 20px; 
}
  

.gallery{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    width: 100%; 
    justify-content: space-around;

}

.gallery > div {
    font-family: Arial, Helvetica, sans-serif;
}

.galleryItem > img {

    width: 30%; 
    margin-bottom: 10px;
    height: 43%; 
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.horizontalContainer{
    display:flex;
}

.horizontalContainer img {
    width: 30%; 
    flex-direction: column;
}


.galleryItem {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);
    width: 250px;
    height: 200px;
    margin: 30px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
  .galleryItem h3,
  .galleryItem p {
    margin: 2px; 
    padding: 5; 
    line-height: 1; 
  }

.galleryItem:hover {
    transform: translateY(5px);
    box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);
    background-color: #ffe96a;

    
}

.playerBox {
    position: sticky;
    display: inline-block;
    width: 80px;
    height: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #5a54ff;
    color: #ffffff;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;

}

.playerBox p {
    color: white; 
    font-size: 5px;
    padding: 5px;


}

.description {
    color: rgb(53, 53, 53);
    padding-top: 8px;
    font-size: 15px;

}


p {
    font-size: 20px;
}

footer{
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
    bottom: 10px;
    width: 100%;
}

  .gameTitle {
    font-weight: bold;
  
    margin: 0;
    color: #fff; 
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .instructions{
    background-color: #ffffff;
    border-radius: 10px;
    position:sticky;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  
    margin: 0 auto; 
  
    box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);
    width: 80%;
    height: 50px;
    padding: 20px;
    font-size: 30px;
  
    text-align: center;
    
  }



button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #5a54ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffe96a;
}

.result {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    font-size: 70px;
    color: #ffffff;
    line-height: 100px;
    margin: 20px auto;
  }

.dice {
    width: 200px;
    height: 200px;
    background-color: #5a54ff;
    font-size: 150px;
    color: #fff;
    line-height: 200px; 
    margin: 20px auto;
    border-radius: 10px;
    text-align: center; 
  }